.FooterItems{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content:center;
    font-size: 1.2 rem;
}

.footer-menu{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-left : 2rem;
}

.footer-links{
    border-top: 1px;
    list-style: none;
    width: 100%;
}

.footer-links:hover{
    background-color: rgb(172, 115, 115);
    border-radius: 4px;
    transition: all 0.2s ease-out;
}