.HeaderItems{
    background-color: rgb(54, 54, 54);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content:center;
    font-size: 1.2 rem;
}

.header-logo{
    color:white;
    justify-self: start;
    margin-left: 0.5rem;
    font-size: 1.2rem;
    cursor:pointer;
}

.header-menu{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-left : 2rem;
}

.header-links{
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.header-links:hover{
    background-color: #5a6579;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}